node_modules/

# bun
**/*.bun

# logs
**/*.log

# env
.env.local
.env.*.local

# generated (Dex templates)
templates/**/dex/.generated/
templates/**/web/public/assets/

# package manager locks
package-lock.json
