@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

:root {
  /* hsl (fallback color) */
  --bg-dark: hsl(59 90% 1%);
  --bg: hsl(61 54% 3%);
  --bg-light: hsl(61 31% 7%);
  --text: hsl(62 59% 90%);
  --text-muted: hsl(62 16% 65%);
  --highlight: hsl(62 15% 35%);
  --border: hsl(61 21% 24%);
  --border-muted: hsl(60 35% 14%);
  --primary: hsl(61 35% 56%);
  --secondary: hsl(247 66% 79%);
  --danger: hsl(9 26% 64%);
  --warning: hsl(52 19% 57%);
  --success: hsl(146 17% 59%);
  --info: hsl(217 28% 65%);
  /* oklch */
  --bg-dark: oklch(0.1 0.02 109);
  --bg: oklch(0.15 0.02 109);
  --bg-light: oklch(0.2 0.02 109);
  --text: oklch(0.96 0.04 109);
  --text-muted: oklch(0.76 0.04 109);
  --highlight: oklch(0.5 0.04 109);
  --border: oklch(0.4 0.04 109);
  --border-muted: oklch(0.3 0.04 109);
  --primary: oklch(0.76 0.1 109);
  --secondary: oklch(0.76 0.1 289);
  --danger: oklch(0.7 0.05 30);
  --warning: oklch(0.7 0.05 100);
  --success: oklch(0.7 0.05 160);
  --info: oklch(0.7 0.05 260);

  /* base ui */
    isolation: isolate;
}
body.light {
  /* hsl (fallback color) */
  --bg-dark: hsl(63 23% 87%);
  --bg: hsl(63 39% 92%);
  --bg-light: hsl(63 100% 98%);
  --text: hsl(58 100% 2%);
  --text-muted: hsl(61 21% 24%);
  --highlight: hsl(62 100% 95%);
  --border: hsl(62 12% 46%);
  --border-muted: hsl(62 13% 58%);
  --primary: hsl(59 100% 11%);
  --secondary: hsl(250 34% 36%);
  --danger: hsl(9 21% 41%);
  --warning: hsl(52 23% 34%);
  --success: hsl(147 19% 36%);
  --info: hsl(217 22% 41%);
  /* oklch */
  --bg-dark: oklch(0.92 0.02 109);
  --bg: oklch(0.96 0.02 109);
  --bg-light: oklch(1 0.02 109);
  --text: oklch(0.15 0.04 109);
  --text-muted: oklch(0.4 0.04 109);
  --highlight: oklch(1 0.04 109);
  --border: oklch(0.6 0.04 109);
  --border-muted: oklch(0.7 0.04 109);
  --primary: oklch(0.4 0.1 109);
  --secondary: oklch(0.4 0.1 289);
  --danger: oklch(0.5 0.05 30);
  --warning: oklch(0.5 0.05 100);
  --success: oklch(0.5 0.05 160);
  --info: oklch(0.5 0.05 260);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
}